@using EasyNetQ.Management.Client.Model
@using QueueCumber.Core
@using QueueCumber.Models.Queues
<h3>@_instance.Connection.Name</h3>





<MudAutocomplete T="string" CoerceText="true" CoerceValue="true" Label="Queues" Value="_queueName" ValueChanged="@queueChanged" SearchFunc="@SearchQueue" Variant="Variant.Outlined" ProgressIndicatorColor="Color.Default" AdornmentColor="_canCreateQueue ? Color.Primary : Color.Transparent" OnAdornmentClick="()=>{if(_canCreateQueue) CreateQueue();}" AdornmentIcon="@Icons.Material.Filled.Queue">
    <ProgressIndicatorInPopoverTemplate>
        <MudList T="string" ReadOnly>
            <MudListItem>
                Loading...
            </MudListItem>
        </MudList>
    </ProgressIndicatorInPopoverTemplate>

</MudAutocomplete>


@code {


    [Parameter]
    public ConnectionIntance _instance { get; set; }


    ICollection<QueueCumberQueue> _queues { get; set; }



    private string _queueName { get; set; }

    private bool _canCreateQueue { get; set; }

    public async Task CreateQueue()
    {


        _instance.Driver.createQueue(_queueName);

    }


    private async Task<IEnumerable<string>> SearchQueue(string value, CancellationToken token)
    {
        _queues = await _instance.Driver.getAllQueues();

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return _queues.Select(x => x.Name);
        var ret = _queues.Where(x => x.Name.Contains(value, StringComparison.InvariantCultureIgnoreCase)).Select(x => x.Name);


        return ret;
    }


    private async Task queueChanged(string q)
    {
        _queueName = q;

        if (_queueName is not null)
        {
            _canCreateQueue = !_queues.Any(x => x.Name.Contains(_queueName, StringComparison.InvariantCultureIgnoreCase));

            
        }

        StateHasChanged();
    }

}
